aiogram
openai>=1.0.0
pyqt6
python-dotenv
pyinstaller
cryptography
httpx
mistune
tiktoken
vosk
mcp
pydantic
pydantic-settings
httpx-sse
jsonschema
starlette
sse-starlette
uvicorn
PyJWT
python-multipart
